XSD/package.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.ikarus-framework.de" xmlns="http://www.ikarus-framework.de" elementFormDefault="qualified">
	<!--
	Ikarus Framework Package Specification
	author:		Johannes Donath
	updated:	16.01.2012
	version:	1.5.0
	-->
	
	<!-- Include basic ikarus types -->
	<xs:include schemaLocation="types.xsd" />

	<!-- Information for root element -->
	<xs:element name="package">
		<xs:complexType>
			<xs:choice maxOccurs="unbounded">
				<xs:element name="packageinformation" type="packageInformation" maxOccurs="1" minOccurs="1" />
				<xs:element name="authorinformation" type="authorInformation" maxOccurs="1" minOccurs="1" />
				<xs:element name="licenseinformation" type="licenseInformation" maxOccurs="1" minOccurs="0" />
				<xs:element name="requiredapis" type="requiredApis" maxOccurs="1" minOccurs="0" />
				<xs:element name="requiredpackages" type="requiredPackages" maxOccurs="1" minOccurs="1" />
				<xs:element name="systemrequirements" type="systemRequirements" maxOccurs="1" minOccurs="0" />
				<xs:element name="excludedpackages" type="excludedPackages" maxOccurs="1" minOccurs="0" />
				<xs:element name="installs" type="installs" maxOccurs="1" minOccurs="0" />
				<xs:element name="instructions" type="instructions" maxOccurs="unbounded" minOccurs="1" />
			</xs:choice>
			
			<xs:attribute name="name" type="ikarus_packageIdentifier" />
		</xs:complexType>
	</xs:element>
	
	<!-- Basic definition for packageInformation elements -->
	<xs:complexType name="packageInformation">
		<xs:sequence>
			<!-- Basic definition for packageName element -->
			<xs:element name="packagename" maxOccurs="unbounded" minOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ikarus_varchar">
							<!-- Language definition with lang tag -->
							<xs:attribute name="lang" type="xs:string" default="en" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			
			<!-- Basic definition for packageDescription element -->
			<xs:element name="packagedescription" maxOccurs="unbounded" minOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<!-- Language definition with lang tag -->
							<xs:attribute name="lang" type="xs:string" default="en" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			
			<!-- Basic definition for version element -->
			<xs:element name="version" maxOccurs="1" minOccurs="1" type="ikarus_version" />
			
			<!-- Basic definition for standalone element -->
			<xs:element name="standalone" maxOccurs="1" type="ikarus_boolean" />
			
			<!-- Basic definition for plugin element -->
			<xs:element name="plugin" maxOccurs="1" type="ikarus_packageIdentifier" />
			
			<!-- Basic definition for projectStartDate element -->
			<xs:element name="projectstartdate" maxOccurs="1" type="xs:date" />
			
			<!-- Basic definition for date element -->
			<xs:element name="date" maxOccurs="1" type="xs:date" />
			
			<!-- Basic definition for packageurl element -->
			<xs:element name="packageurl" maxOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<!-- Definition of an alias (e.g. organisation's title) -->
							<xs:attribute name="alias" type="ikarus_varchar" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			
			<!-- Basic definition for documentationurl element -->
			<xs:element name="documentationurl" maxOccurs="1" type="xs:string" />
			
			<!-- Basic definition for developerdocumentationurl element -->
			<xs:element name="developerdocumentationurl" maxOccurs="1" type="xs:string" />
			
			<!-- Basic definition for supporturl element -->
			<xs:element name="supporturl" maxOccurs="1" type="xs:string" />
			
			<!-- Basic definitions for provides element -->
			<xs:element name="provides" maxOccurs="1" type="xs:string" />
			
			<!-- Basic definitions for apiversion element -->
			<xs:element name="apiversion" maxOccurs="1" type="ikarus_version" />
			
			<!-- Basic definition for verifier element -->
			<xs:element name="verifier" maxOccurs="1" minOccurs="0"> <!-- Note: The framework will fill in this fields automatically if you've provided information about your identity. -->
				<xs:complexType>
					<xs:sequence>
						<!-- Basic definition for signature element -->
						<xs:element name="signature" minOccurs="1" maxOccurs="1" type="xs:string" /> <!-- Contains the signature generated by openssl for package content -->
						
						<!-- Basic definition for publicKey element -->
						<xs:element name="publickey" minOccurs="1" maxOccurs="1" type="xs:string" />
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			
			<!-- Basic definition for crypt element -->
			<xs:element name="crypt" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<!-- Basic definition for enabled element -->
						<xs:element name="enabled" minOccurs="1" maxOccurs="1" type="ikarus_boolean" /> <!-- The package is encrypted if this is set to true. -->
						
						<!-- Basic definition for iv element -->
						<xs:element name="iv" minOccurs="0" maxOccurs="1" type="xs:string" /> <!-- Contains the IV for encrypted contents. The framework will automatically generate this if nothing was set here. -->
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Basic definition for authorInformation elements -->
	<xs:complexType name="authorInformation">
		<xs:sequence>
			<!-- Basic definition for authorname element -->
			<xs:element name="authorname" maxOccurs="1" minOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<!-- Definition of an alias (e.g. author's nickname) -->
							<xs:attribute name="alias" type="ikarus_varchar" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
			
			<!-- Basic definition for authorurl element -->
			<xs:element name="authorurl" type="xs:string" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- Basic definition for licenseInformation elements -->
	<xs:complexType name="licenseInformation">
		<xs:sequence>
			<!-- Basic definition for licensename element -->
			<xs:element name="licensename" maxOccurs="1" minOccurs="1" type="xs:string" />
			<xs:element name="licenseurl" maxOccurs="1" minOccurs="1" type="xs:string" />
		</xs:sequence>
	</xs:complexType>
	
	<!-- Basic definition for requiredApis elements -->
	<xs:complexType name="requiredApis">
		<xs:sequence>
			<!-- Basic definition for requiredapi element -->
			<xs:element name="requiredapi" maxOccurs="unbounded" minOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<!-- Definition for minimal required api version -->
							<xs:attribute name="minversion" type="ikarus_version" />
							
							<!-- Definition for maximal required api version -->
							<xs:attribute name="maxversion" type="ikarus_version" />
							
							<!-- Definition for package file to install if the needed api isn't installed -->
							<xs:attribute name="file" type="ikarus_version" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Basic definition for requiredPackages elements -->
	<xs:complexType name="requiredPackages">
		<xs:sequence>
			<!-- Basic definition for requiredpackage element -->
			<xs:element name="requiredpackage" maxOccurs="unbounded" minOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ikarus_packageIdentifier">
							<!-- Definition of minimal required version -->
							<xs:attribute name="minversion" type="ikarus_version" />
							
							<!-- Definition of maximal required version -->
							<xs:attribute name="maxversion" type="ikarus_version" />
							
							<!-- Definition of a package file where required package is available -->
							<xs:attribute name="file" type="xs:string" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="systemRequirements">
		<xs:sequence>
			<!-- Basic definition for requirement element -->
			<xs:element name="requirement" maxOccurs="unbounded" minOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<!-- Definition for type -->
							<xs:attribute name="type" type="ikarus_systemRequirement_type" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Basic definition for excludedPackages elements -->
	<xs:complexType name="excludedPackages">
		<xs:sequence>
			<!-- Basic definition for excludedpackage element -->
			<xs:element name="excludedpackage" maxOccurs="unbounded" minOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ikarus_packageIdentifier">
							<!-- Definition of exactly one version that is banned -->
							<xs:attribute name="version" type="ikarus_version" />
							
							<!-- Definition of start version (version from those up will be banned) -->
							<xs:attribute name="startversion" type="ikarus_version" />
							
							<!-- Definition of end version (version below this are banned (including this). Versions above are installable. -->
							<xs:attribute name="endversion" type="ikarus_version" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Basic definition for installs elements -->
	<xs:complexType name="installs">
		<xs:sequence>
			<!-- Basic definition for install element -->
			<xs:element name="install" maxOccurs="unbounded" minOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="ikarus_packageIdentifier">
							<!-- Definition of file path -->
							<xs:attribute name="file" type="xs:string" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	
	<!-- Basic definition for instructions elements -->
	<xs:complexType name="instructions">
		<xs:choice maxOccurs="unbounded">
			<!-- Basic definition for instruction element -->
			<xs:element name="instruction" maxOccurs="unbounded" minOccurs="1">
				<xs:complexType>
					<xs:simpleContent>
						<xs:extension base="xs:string">
							<!-- Definition of instruction type (e.g. action) -->
							<xs:attribute name="type" type="xs:string" />
						</xs:extension>
					</xs:simpleContent>
				</xs:complexType>
			</xs:element>
		</xs:choice>
		
		<!-- Definition of type (installation or update?) -->
		<xs:attribute name="type" type="ikarus_instructionsType" />
		
		<!-- Definition of updateable version (e.g. 1.0.0) -->
		<xs:attribute name="fromversion" type="ikarus_version" />
	</xs:complexType>
</xs:schema>